{% extends 'simplelayout.html.twig' %}
{% block title %}{{ 'Sign in'|trans }}{% endblock %}
{% block body %}
<div class="visible-md-block visible-lg-block"><br/><br/><br/></div>
<form action="{{ path('security_login') }}" method="post">
    <div class="card card-primary mx-auto animated zoomIn" style="width: 20rem;">
        <div class="card-body">
            <h3 class="card-title">{{ 'Sign in'|trans }}</h3>
            
            {{ include('tools/flashmessages.html.twig') }}
            <br/>
            <div class="form-group">
                <label class="form-control-label required" for="username">Username</label>
                <input type="text" id="username" name="_username" required="required" class="form-control"
                    value="{{ last_username }}">
            </div>
            <div class="form-group">
                <label class="form-control-label required" for="password">Password</label>
                <input type="password" id="password" name="_password" required="required" class="form-control">
            </div>
            {% if error %}
            <div class="alert alert-danger">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
            {% endif %}
            <div class="form-group">
                <button type="submit" id="Login" name="Login" class="btn-primary btn">{{ 'Sign in'|trans }}</button> &nbsp; 
                <a class="btn btn-link"  href="{{path('user_register')}}" title="Register your account">Register</a>
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <input type="hidden" name="_target_path" value="{{ app.request.get('redirect_to') }}">
        </div>
    </div>
</form>
<div class="visible-md-block visible-lg-block"><br/><br/><br/><br/><br/><br/></div>
{% endblock %}