{% extends 'simplelayout.html.twig' %}
{% block title %}Register an account{% endblock %}
{% block body %}
<div class="visible-md-block visible-lg-block"><br/><br/><br/></div>
<div class="card card-primary mx-auto animated zoomIn" style="width: 50rem;">
    <div class="card-body">
        <h3 class="card-title">Register</h3>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
        <p class="text-right">
            <a class="btn btn-link"  href="{{path('security_login')}}" title="Login">Login</a>
        </p>
    </div>
</div>
<div class="visible-md-block visible-lg-block"><br/><br/><br/><br/><br/><br/></div>
{% endblock %}