{% extends 'fulllayout.html.twig' %}
{% block title %}Are you sure? {% endblock %}
{% block body %}
{% if app.session.get('confirmation') is defined and app.session.get('confirmation') is not null %}
<br/> <br/>
<div class="visible-md-block visible-lg-block"><br/><br/><br/></div>
<div class="card card-primary mx-auto animated zoomIn" style="width: 20rem;">
    <div class="card-body">
        <h5 class="card-title">Are you sure?</h5>
        <hr/>
        <p class="card-text">You are going to <strong>{{ app.session.get('confirmation').type }}</strong></p>
        <p class="card-text">{{ app.session.get('confirmation').name }} ({{ app.session.get('confirmation').id }}) !!!</p>
        <br/>
        <form method="post" action="{{ path(app.session.get('confirmation').yes,{'id':app.session.get('confirmation').id }) }}" class="text-center">
            <button type="submit" class="btn btn-danger ">confirm and delete</button>
            <a href="{{ path(app.session.get('confirmation').no) }}" class="btn btn-secondary ">Cancel</a>
        </form>
    </div>
</div>
<div class="visible-md-block visible-lg-block"><br/><br/><br/><br/><br/><br/></div>
{{ app.session.set('confirmation',null) }}
{% endif  %}
{% endblock  %}