<div class="row">
    <div class="col-md-6">
        <nav aria-label="Page navigation example" class="d-block">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="{{app.request.getUri | modlink( "page", 1) }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                    </a>
                </li>
                {% for pg in paginator.pageList %}
                <li class="page-item {% if pg == paginator.currentPage %}active{% endif %}">
                    <a class="page-link" href="{{app.request.getUri | modlink( "page", pg) }}">{{pg}}</a>
                </li>
                {% endfor %}
                <li class="page-item">
                    <a class="page-link" href="{{app.request.getUri | modlink( "page", paginator.totalPages) }}">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="col-md-6">
        <div class="dropup show d-flex justify-content-end">
            <a class="btn btn-primary dropdown-toggle" href="{{app.request.getUri | modlink( "limit", paginator.recordsPerPage) }}" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ 'Records per page'|trans }}
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                {% for c in paginator.recordsPerPageList %}
                    <a class="dropdown-item {% if paginator.recordsPerPage == c %}active{% endif %}" href="{{app.request.getUri | modlink( "limit", c) }}">{{c}}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>