<div class="btn-group">
    <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ 'Search By'|trans }}</button>
    <div class="dropdown-menu">
        {% for index, c in searchFields %}
        <a class="dropdown-item  {% if search_key == index %}active{% endif %}" href="{{app.request.getUri | modlink( "search_key", index) }}">{{c | trans}}</a>
        {% endfor %}      
    </div>
    <input type="text" class="form-control" value="{{search_val}}" id="txtSearch" placeholder="search ...">
    <button type="button" class="btn btn-primary" onclick="doSearch()" >{{'Go' | trans}}</button>
</div>
<!-- /btn-group -->
<script>
    function doSearch(){
        let url = "{{app.request.getUri | modlink( "search_val",'' ) | raw  }}";
        window.location.href=url + document.getElementById("txtSearch").value;
    }
</script>