<div class="btn-group">
    <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ 'Sort By'|trans }}</button>
    <div class="dropdown-menu">
        {% for index, c in sortFields %}
        <a class="dropdown-item {% if sortby == index %}active{% endif %}" href="{{app.request.getUri | modlink( "sortby", index) }}">{{c}}</a>
        {% endfor %}
    </div>
</div>
<!-- /btn-group -->
<div class="btn-group">
    <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ 'Order By'|trans }}</button>
    <div class="dropdown-menu">
        {% set sortOrderList = ['ASC', 'DESC'] %}
        {% for c in sortOrderList %}
        <a class="dropdown-item  {% if orderby == c %}active{% endif %}" href="{{app.request.getUri | modlink( "orderby", c) }}">{{c | trans}}</a>
        {% endfor %}
    </div>
</div>
<!-- /btn-group -->