<div class="row">
	<div class="col-md-2">
		
		{% if contact.picture %}
			<img src="{{asset('images/' ~ contact.picture)}}" class="img-fluid" style="height:80px;" alt="{{contact.title}} {{contact.firstName}}, {{contact.lastName}}">
		{% else %}
		{% set initials = contact.firstName|split(' ') %}
		<img data-src="holder.js/80x80?text={{ attribute(initials, 0)|first }}&bg=2e97b8&fg=fff&size=24" alt="" class="mr-2 rounded">
		{% endif %}
	</div>
	<div class="col-md-4">
		<small class="text-muted">Name:</small> {{contact.title}} {{contact.firstName}}, {{contact.lastName}}
		{% if contact.street %}<br/><small class="text-muted">Address:</small> {{contact.street}}{% endif %}  {% if contact.houseNo %}, {{contact.houseNo}}{% endif %}  
		{% if contact.zip %}<br/><small class="text-muted">Location:</small> {{contact.zip}}{% endif %}{% if contact.city %}, {{contact.city}}{% endif %}  
		{% if contact.tags %}<br/><small class="text-muted">Tags:</small> {{contact.tags}}{% endif %}  
	</div>
	<div class="col-md-4">
		<small class="text-muted">Email:</small> {{contact.email}}
		{% if contact.mobile %}<br/><small class="text-muted">Handy:</small> {{contact.mobile}}{% endif %}  
		{% if contact.phone %}<br/><small class="text-muted">Phone:</small> {{contact.phone}}{% endif %}  
		<br/><small class="text-muted"> @{{contact.user.username}}· {{ contact.createdAt|date("d/m/Y") }}</small></span>
	</div>
	<div class="col-md-2">
	{% if is_granted('edit', contact) %}
		<a href="{{path('contact_edit', {'id': contact.id})}}" class="btn btn-outline-info">Edit</a> &nbsp; 
	{% endif %}
	{% if is_granted('delete', contact) %}
		<a href="{{path('contact_confirm', {'id': contact.id})}}" class="btn btn-outline-danger">Delete</a>
	{% endif %}
	</div>
</div>


