{% extends 'fulllayout.html.twig' %}
{% block title %}Add a new contact {% endblock %}
{% block breadcrumbs %}
	<a class="nav-link" href="{{path('dashboard_index')}}">Dashboard &raquo;</a>
	<a class="nav-link" href="{{path('contact_index')}}">Contacts &raquo;</a>
	<a class="nav-link active" href="{{path('contact_add')}}">New</a>
{% endblock %}        

{% block body %}
<br/>

<div class="card card-primary animated zoomIn">

<div class="card-body">

		<div class="row">
			<div class="col-md-8">
				<h3 class="card-title">Add a new Contact</h3>
			</div>
			<div class="col-md-4 text-right">
				<a class="btn btn-outline-primary" href="{{ path('contact_index')}}">Back to Contacts</a>
			</div>
		</div>

<hr/>
{{ include('tools/flashmessages.html.twig') }}


{{form_start(form)}}
{{form_widget(form)}}
{{form_end(form)}}
</div>
</div>

{% endblock %}