{% extends 'fulllayout.html.twig' %}
{% block title %}Edit contact {% endblock %}
{% block breadcrumbs %}
	<a class="nav-link" href="{{path('dashboard_index')}}">Dashboard &raquo;</a>
	<a class="nav-link" href="{{path('contact_index')}}">Contacts &raquo;</a>
	<a class="nav-link active" href="{{path('contact_edit', {'id': contact.id})}}">Edit</a>
{% endblock %}        
{% block body %}
<br/>

<div class="card card-primary animated zoomIn">

<div class="card-body">

		<div class="row">
			<div class="col-md-8">
				<h3 class="card-title">Edit Contact</h3>
			</div>
			<div class="col-md-4 text-right">
				<a class="btn btn-outline-primary" href="{{ path('contact_index')}}">Back to Contacts</a>
			</div>
		</div>

<hr/>
<div class="row">
<div class="col-md-3">
	<div class="card text-white bg-primary">

		{% if contact.picture %}
			<img src="{{asset('images/' ~ contact.picture)}}" class="card-img-top"  alt="{{contact.title}} {{contact.firstName}}, {{contact.lastName}}">
		{% else %}
			<img src="{{asset('img/nopic.png')}}" class="card-img-top" alt="{{contact.title}} {{contact.firstName}}, {{contact.lastName}}">
		{% endif %}


		
		<div class="card-body">
			<h5 class="card-title">{{contact.title}} {{contact.firstName}}, {{contact.lastName}}</h5>
			<h6 class="card-subtitle mb-2">{{contact.email}}</h6>
			<h6 class="card-subtitle mb-2"><small class="text-muted">Mobile: </small>{{contact.mobile}}</h6>
			<h6 class="card-subtitle mb-2"><small class="text-muted">Phone: </small>{{contact.phone}}</h6>
			<h6 class="card-subtitle mb-2"><small class="text-muted">Date of birth: </small>{{contact.dob|date("d/m/Y")}}</h6>
		</div>
		<div class="card-footer">
			{{contact.street}}, {{contact.houseNo}}<br/>
			{{contact.zip}} {{contact.city}}
		</div>
	</div>
</div>
<div class="col-md-9">
{{ include('tools/flashmessages.html.twig') }}

{{form_start(form)}}
{{form_widget(form)}}
{{form_end(form)}}

</div>
</div>

</div>
</div>

{% endblock %}