{% extends 'fulllayout.html.twig' %}
{% block title %}List contacts {% endblock %}
{% block breadcrumbs %}
    <a class="nav-link" href="{{path('dashboard_index')}}">Dashboard &raquo;</a>
    <a class="nav-link active" href="{{path('contact_index')}}">Contacts</a>
{% endblock %}
{% block body %}
<div class="card">
    <div class="card-body">
        <h3 class="card-title">My Contacts</h3>
        <div class="text-right">
            <a class="btn btn-primary" href="{{ path('contact_add')}}">Add new</a>
            {{ include('tools/sortcontrols.html.twig', {'sortby': sortby, 'orderby': orderby, 'sortFields': sortFields }) }}
            {{ include('tools/searchcontrols.html.twig', {'search_key': search_key, 'search_val': search_val, 'searchFields': searchFields }) }}
        </div>
        <br/>
        {{ include('tools/flashmessages.html.twig') }}
    </div>
    {% if contacts|length <= 0 %}
<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center border shadow-m animated zoomIn" style="max-width: 700px; margin-bottom:50px;">
  <h1 class="display-4">Records not found !!!</h1>
  <hr/>
  <p class="lead">Start creating your contacts here</p>
  <a class="btn btn-lg btn-primary" href="{{ path('contact_add')}}">Create a new contact now</a>
</div>

    {% endif %}
    <ul class="list-group list-group-flush">
        {% for contact in contacts %}
        <li class="list-group-item">
            {{ include('contact/_show.html.twig', {'contact': contact }) }}
        </li>
        {% endfor %}
    </ul>
    <div class="card-footer">
        {{ include('tools/paginator.html.twig', {'paginator': paginator}) }}
    </div>
</div>
{% endblock %}
{% block javascripts %}
<script src="{{asset('js/holder.js')}}"></script>  
{% endblock %}