<!DOCTYPE html>
<head>
    <base href="/">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{asset('img/favicon.ico')}}">
    <title>{% block title %}Welcome to MyContacts!{% endblock %}</title>
    <link href="{{asset('main.min.css')}}" rel="stylesheet">
    {% block stylesheets %}{% endblock %}
</head>
<body class="bg-light">
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark" style="background-color: #2e97b8;">
        <div class="container">
            <a class="navbar-brand mr-auto mr-lg-0" href="{{path('home_index')}}"><strong>MyContacts</strong></a>
            <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse offcanvas-collapse open">
                <ul class="navbar-nav mr-auto"></ul>
                <div class="my-2 my-lg-0">
                    <ul class="navbar-nav mr-auto">
                        {% if is_granted('ROLE_USER') %}
                        <li class="nav-item active">
                            <a class="nav-link" href="{{path('dashboard_index')}}">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{path('contact_index')}}">Contacts</a>
                        </li>

                        <li class="nav-item" >
                            <a class="btn btn-link text-white" href="{{ logout_path() }}">{{ app.user.fullName }} / {{ 'Sign out'|trans }}</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link"
                               href="{{ path('security_login') }}">{{ 'Sign in'|trans }}</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="container animated slideInDown" style="margin-bottom: 10px;">
        <div class="nav-scroller bg-white box-shadow">
            <nav class="nav nav-underline" style="background-color: #c2e5f0;">
                {% block breadcrumbs %}
                <a class="nav-link active" href="{{path('dashboard_index')}}">Home</a>
                {% endblock %}        
            </nav>
        </div>
    </div>
    <main role="main" class="container" style="margin-bottom: 40px;">
        {% block body %}
        {% endblock %}
    </main>
    <hr/>
    <div class="fixed-bottom animated slideInUp" style="background-color: #0f323d;" >
        <p class="text-muted text-center" >
            <small>
                Copyright &copy; <script>var currentYear = new Date().getFullYear();document.write(currentYear);</script>, Ganesh K. Butcha.  All rights reserved.
            </small>
        </p>
    </div>
    
    <script src="{{asset('main.min.js')}}"></script>  
    <script src="{{asset('js/offcanvas.js')}}"></script>  
    {% block javascripts %}{% endblock %}
    {% block javascript %}{% endblock %}
</body>
</html>