<!DOCTYPE html>
<head>
    <base href="/">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{asset('img/favicon.ico')}}">
    <title>{% block title %}Welcome to MyContacts!{% endblock %}</title>
    <link href="{{asset('main.min.css')}}" rel="stylesheet">
    {% block stylesheets %}{% endblock %}
</head>
<body class="bg-light">
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark" style="background-color: #2e97b8;">
        <div class="container">
            <a class="navbar-brand mr-auto mr-lg-0" href="{{path('home_index')}}"><strong>MyContacts</strong></a>
        </div>
    </nav>

    <main role="main" class="container" style="margin-bottom: 40px;">
        {% block body %}
        {% endblock %}
    </main>
    <hr/>
    <div class="fixed-bottom animated slideInUp" style="background-color: #0f323d;" >
        <p class="text-muted text-center" >
            <small>
                Copyright &copy; <script>var currentYear = new Date().getFullYear();document.write(currentYear);</script>, Ganesh K. Butcha.  All rights reserved.
            </small>
        </p>
    </div>

</body>
</html>