{% extends 'fulllayout.html.twig' %}
{% block title %}Dashboard{% endblock %}
{% block body %}
<br/> <br/>
        <div class="visible-md-block visible-lg-block"><br/><br/><br/></div>
        <div class="card card-primary mx-auto animated zoomIn" style="width: 20rem;">
            <div class="card-header">Menu</div>
            <!-- List group -->
            <div class="list-group">
                <a class="list-group-item"  href="{{path('contact_index')}}" title="Manage contacts">- Manage Contacts</a>
                <a class="list-group-item"  href="{{path('contact_add')}}" title="Create a new  contact">- Create Contact</a>
                <a class="list-group-item"  href="{{ logout_path() }}" title="Logout">- Logout</a>
            </div>
        </div>
        <div class="visible-md-block visible-lg-block"><br/><br/><br/><br/><br/><br/></div>
    
{% endblock %}

