{% extends 'fulllayout.html.twig' %}
{% block title %}Welcome to MyContacts{% endblock %}
{% block body %}






<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center" style="max-width: 700px;">
  <h1 class="display-4">Contact Manager</h1>
  <hr/>
  <p class="lead">Quickly build your Contacts database consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
</div>




<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">New user?</h4>
      </div>
      <div class="card-body">
        <p class="card-text">
        	ante massa sagittis nec molestie morbi perspiciatis vestibulum molestie consequatur arcu id pede.<hr/>
        	nam quibusdam velit nequere  porta pudiandae sint porta nisl fermentum nunc elit maecenas lacus cumque fermentum.
        </p>
        <a href="{{path('user_register')}}" class="btn btn-lg btn-block btn-outline-primary">{{ 'Sign up'|trans }}</a>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Existing user?</h4>
      </div>
      <div class="card-body">
          <p class="card-text">
        	Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<hr/>
        	eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus
        </p>
        <a href="{{path('security_login')}}" class="btn btn-lg btn-block btn-primary">{{ 'Sign in'|trans }}</a>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">FAQ / Help</h4>
      </div>
      <div class="card-body">
          <p class="card-text">
        	Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime possimus<hr/>
        	eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus
        </p>
        <a href="{{path('dashboard_index')}}" class="btn btn-lg btn-block btn-primary">{{ 'Contact'|trans }}</a>
      </div>
    </div>
  </div>

</div>

    
{% endblock %}