{% extends 'base.html.twig' %}
{% block title %}Error 404 {% endblock %}
{% block body %}
<div class="visible-md-block visible-lg-block"><br/><br/><br/></div>
	<div class="jumbotron animated zoomIn">
        <h1 class="display-3">{{status_text}}, {{status_code}}</h1>
        <p class="lead">Resoure you are tryuing to acess is not available.  Please try later.</p>
        <p><a class="btn btn-lg btn-success" href="{{path('home_index')}}" role="button">Back to home</a></p>
    </div>
{% endblock %}